<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>{{APPNAME}} {{VERSION}}</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='mainpage_style.css') }}">
	</head>
	<body>
		<div class="title">
			<img src="{{ url_for('static', filename='FLA_2039ed_Logo.svg') }}" alt="FRC LookAhead Logo" title="FRC LookAhead Logo"/>
			<h1>
				{{ APPNAME }}
				<span id="version">Version {{ VERSION }}</span>
				<p style="font-size:15px">Made by team 2039 - Improved by team 2813</p>
			</h1>
		</div>
		<div class="teaminfo">
			<p> Team <span class="bigteaminfo">{{ your_team_number }}</span> is
				ranked <span class="bigteaminfo">{{ your_ranking }}</span> out of <span class="bigteaminfo">{{ total_teams }}</span>
			</p>
			<h2> Your next match is match <span class="bigteaminfo">{{ next_match_number }}</span>: </h2>
			<div id="countdown"></div><input id="countdown_toggle" type="checkbox">pause timer<button onclick="location.reload();" class="refresh" id="reload"><img class="refresh" src="{{ url_for('static', filename='refresh.svg') }}"/></button>
		</div>
		<div class="tables">
			<!--Your alliance-->
			<h2> Your {{ your_alliance_markup }} alliance next match:</h2>
			{% for team in your_alliance %}
			<table class="team_info_table" border="1">
				<tbody>
					<tr>
						<td>RANK</td>
						<td>TEAM NO.</td>
						<td>TEAM NAME</td>
						<td>RECORD</td>
						<td>LAST AUTO</td>
						<td>LAST MATCH SCORE</td>
						<td>W/L</td>
						<td>LAST MATCH ENDGAME</td>
					</tr>
					<tr>
						<td>{{ team[0] }}</td>
						<td>{{ team[1] }}</td>
						<td>{{ team[2] }}</td>
						<td>{{ team[3] }}</td>
						<td>{{ team[4] }}</td>
						<td>{{ team[5] }}</td>
						<td class="winloss {{ team[6] }}">{{ team[6] }}</td>
						<td>{{ team[7] }}</td>
					</tr>
				</tbody>
			</table>
			{% endfor %}
			<!--Your alliance-->
			<h2> Opposing {{ other_alliance_markup }} alliance next match:</h2>
			{% for team in other_alliance %}
			<table class="team_info_table" border="1">
				<tbody>
					<tr>
						<td>RANK</td>
						<td>TEAM NO.</td>
						<td>TEAM NAME</td>
						<td>RECORD</td>
						<td>LAST AUTO</td>
						<td>LAST MATCH SCORE</td>
						<td>W/L</td>
						<td>LAST MATCH ENDGAME</td>
					</tr>
					<tr>
						<td>{{ team[0] }}</td>
						<td>{{ team[1] }}</td>
						<td>{{ team[2] }}</td>
						<td>{{ team[3] }}</td>
						<td>{{ team[4] }}</td>
						<td>{{ team[5] }}</td>
						<td class="winloss {{ team[6] }}">{{ team[6] }}</td>
						<td>{{ team[7] }}</td>
					</tr>
				</tbody>
			</table>
			{% endfor %}
		</div>
		<div class="footer">
			<h2> Good luck out there! </h2>
		</div>
	</body>
	<script>
		var countdown = document.getElementById("countdown");
		var countdown_toggle = document.getElementById("countdown_toggle");
		var reloadtime = 5 * 60;//in seconds
		var currentTime = reloadtime;
		var timer = setInterval(function() {
			if(!countdown_toggle.checked){
				currentTime--;
			}
			if(currentTime>=0){
				countdown.innerHTML = "reloading in "+currentTime+" seconds";
			}
			else{
				countdown.innerHTML = "reloading";
			}
			if(currentTime==0){
				location.reload();
			}
		}, 1000);
	</script>
</html>
